<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D601E4A51D3E92020042A2E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D601E4BD1D3E92020042A2E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D601E4C81D3E92020042A2E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
